# Dependencias
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Producción
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Entorno (Claves secretas)
.env
.env*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Windows / System (CRITICO para evitar errores de permisos)
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/
